.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://i.postimg.cc/ZRTjSrmW/frutullitas.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    background-color: #da5e5e88;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .date-picker-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .ticket {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .ticket.available {
    background-color: green;
    color: white;
  }
  
  .ticket.unavailable {
    background-color: red;
    color: white;
  }
  .custom-day-content {
    position: relative;
    cursor: pointer;
  }
  
  .custom-day-content::after {
    content: attr(title);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }